<h2>Welcome <%=user%></h2>

<a href='/manageschedules'>Manage Schedules</a><br>
<a href='/logout'>Logout</a>


<div>
    TODO:All schedules and associated username should be shown with the link.
</div>

<